@import url("reset.css");

/* Layout */
html,
body {
  height: 100%;
}

:root {
  --background-color: #ca9d9d;
  --animation-duration: 600ms;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#root > main {
  flex: 1;
  padding: 1rem;
}

/* Elements */
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 300ms ease-in-out;
  color: #551a8b;
}

button {
  width: clamp(6rem, 50%, 12rem);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(217, 198, 198);
  transition: 300ms ease-in-out;
}

button:hover,
button:focus {
  filter: brightness(70%);
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

input {
  max-width: 12rem;
  padding: 0.5rem;
}

input:focus {
  outline: 1px solid red;
}

/* Shared classes */
.icon-button {
  width: unset;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skull,
.trophy {
  background-image: url("../images/skull-large.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 7rem 8rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 300ms forwards;
}

.trophy {
  background-image: url("../images/win.png");
  filter: opacity(50%);
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: perspective(none) rotate(0deg) translateZ(10rem);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: perspective(40rem) rotate(240deg) translateZ(5rem);
  }
  80% {
    transform: perspective(none) rotate(360deg) translateZ(3rem);
  }
  100% {
    transform: perspective(none) rotate(330deg) translateZ(7rem);
  }
}

@keyframes highlightWinner {
  from {
    background-color: white;
    padding: 0;
  }
  to {
    background-color: gold;
    padding: 0.5rem 0;
  }
}

@keyframes highlightLoser {
  from {
    background-color: white;
    padding: 0;
  }
  to {
    background-color: brown;
    padding: 0.5rem 0;
  }
}

.range-slider {
  display: flex;
  flex-direction: column;
}

.range-slider input[type="range"] {
  outline: 0;
}

.range-slider > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
