#deathroll {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#deathroll h2 {
  margin-top: 1rem;
}

.deathroll-players {
  display: flex;
  flex-direction: column;
}

.player-data {
  display: grid;
  grid-template-areas:
    "name name name remove"
    "rolls rolls rolls rolls";
  gap: 16px;
  box-shadow: 4px 4px 5px 0px rgba(202, 157, 157, 0.75);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.player-data > input {
  grid-area: name;
}

#deathroll .players-data > button {
  grid-area: remove;
}

.player-data > div {
  grid-area: rolls;
  max-width: 17rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.loser {
  color: red;
  font-weight: bold;
  font-style: italic;
  animation: fadeIn 1s ease-in-out forwards;
}

.result {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 80%;
  min-width: 75%;
}

.result > span:first-of-type {
  flex: 1;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.result > span:last-of-type {
  flex: 4;
  font-size: 7rem;
}
