#diffroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.players,
.numbers {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.numbers {
  flex: 0;
}

#diffroll .icon-button {
  margin-left: 1rem;
}

#diffroll .buttons {
  display: flex;
  justify-content: space-between;
}

.start-button {
  align-self: center;
  margin-top: 1rem;
}

#diffroll-game,
#diffroll-setup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

#diffroll-game .player-row {
  display: flex;
  gap: 1rem;
}

#diffroll-game .dice-result {
  opacity: 0;
}
