header {
  color: black;
  padding: 10px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

#logo {
  background-image: url("../images/rollwithme-logo.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  color: white;
}

header > a {
  color: black;
}
